In [1]:
import ipywidgets as widgets

In [2]:
widgets.IntSlider(min=0, max=10, step=1, 
                  description='Slider:', value=3)

IntSlider(value=3, description='Slider:', max=10)

In [3]:
# The display() function renders a widget object in an input cell.
from IPython.display import display

In [4]:
# Then pass the widget as a parameter in the display() function:
slider = widgets.IntSlider()
display(slider)

IntSlider(value=0)

In [5]:
# To read the value of a widget, we will query its value property. Similarly, we can set a widget’s value:
slider.value

0

In [6]:
# We can synchronise the values of two widgets by using the jslink() function.
slider = widgets.IntSlider()
text = widgets.IntText()
display(slider, text)
widgets.jslink((slider, 'value'), (text, 'value'))

IntSlider(value=0)

IntText(value=0)

Link(source=(IntSlider(value=0), 'value'), target=(IntText(value=0), 'value'))

In [7]:
# For a full list of widgets you can check out the documentation, or run the following command:
dir(widgets)

['Accordion',
 'AppLayout',
 'Audio',
 'BoundedFloatText',
 'BoundedIntText',
 'Box',
 'Button',
 'ButtonStyle',
 'CallbackDispatcher',
 'Checkbox',
 'Color',
 'ColorPicker',
 'Combobox',
 'Controller',
 'CoreWidget',
 'DOMWidget',
 'DatePicker',
 'Datetime',
 'Dropdown',
 'FileUpload',
 'FloatLogSlider',
 'FloatProgress',
 'FloatRangeSlider',
 'FloatSlider',
 'FloatText',
 'GridBox',
 'GridspecLayout',
 'HBox',
 'HTML',
 'HTMLMath',
 'Image',
 'IntProgress',
 'IntRangeSlider',
 'IntSlider',
 'IntText',
 'Label',
 'Layout',
 'NumberFormat',
 'Output',
 'Password',
 'Play',
 'RadioButtons',
 'Select',
 'SelectMultiple',
 'SelectionRangeSlider',
 'SelectionSlider',
 'SliderStyle',
 'Style',
 'Tab',
 'Text',
 'Textarea',
 'ToggleButton',
 'ToggleButtons',
 'ToggleButtonsStyle',
 'TwoByTwoLayout',
 'VBox',
 'Valid',
 'ValueWidget',
 'Video',
 'Widget',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__jupyter_widgets_base_version__',
 '__jupyter_widgets_controls_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__protocol_version__',
 '__spec__',
 '__version__',
 '_handle_ipython',
 '_version',
 'dlink',
 'docutils',
 'domwidget',
 'fixed',
 'get_ipython',
 'handle_kernel',
 'interact',
 'interact_manual',
 'interaction',
 'interactive',
 'interactive_output',
 'jsdlink',
 'jslink',
 'link',
 'load_ipython_extension',
 'os',
 'register',
 'register_comm_target',
 'trait_types',
 'util',
 'valuewidget',
 'version_info',
 'widget',
 'widget_bool',
 'widget_box',
 'widget_button',
 'widget_color',
 'widget_controller',
 'widget_core',
 'widget_date',
 'widget_description',
 'widget_float',
 'widget_int',
 'widget_layout',
 'widget_link',
 'widget_media',
 'widget_output',
 'widget_selection',
 'widget_selectioncontainer',
 'widget_serialization',
 'widget_string',
 'widget_style',
 'widget_templates',
 'widget_upload',
 'widgets']

## ❷ Handling Widget Events
- Event handler is a callback function in response to an event, that operates asynchronously and handles the inputs received.
- Here we will create a simple button called btn. The on_click method is invoked when the button is clicked.
    - Our event handler, btn_eventhandler, will print a short message with the button’s caption — note that the input argument of the handler, obj, is the button object itself which allows us to access its properties.
    - To bind the event with the handler, we assign the latter to the button’s on_click method.

In [8]:
btn = widgets.Button(description='Medium')
display(btn)
def btn_eventhandler(obj):
    print(f'Hello from the {obj.description} button!')
# each time button is clicked
btn.on_click(btn_eventhandler)

Button(description='Medium', style=ButtonStyle())

## ❸ Controlling Widget Output
- In this section we will explore how to use widgets to control a dataframe. 
- The sample dataset I have chosen is ‘Number of International Visitors to London’ 
    - which shows totals of London’s visitors with regards to 
        -nights, 
        - visits 
        - and spend, 
            - broken down by 
                - year, 
                - quarter, 
                - purpose, 
                - duration, 
                - mode 
                - and country.

In [3]:

cwd

'/Users/winston/programming/self/turbo-telegram'

In [ ]:
# import pandas as pd
# import numpy as np
import os
from blazingsql import BlazingContext
bc = BlazingContext()

In [2]:
# download dataset
!wget "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"
# tag current working directory (file path)
cwd = os.getcwd()
# tag dataset's file path
path = cwd + '/international-visitors-london-raw.csv'
# what's it look like?
path

'/home/winston/turbo-telegram/international-visitors-london-raw.csv'

In [12]:
pd.read_csv('international-visitors-london-raw.csv').head(2)

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
0,2002,Q1,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,Q1,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19

# WITH BLAZINGSQL

In [1]:
import os
import numpy as np
import seaborn as sns
import ipywidgets as widgets
import matplotlib.pyplot as plt
from IPython.display import display
from blazingsql import BlazingContext

ModuleNotFoundError: No module named 'seaborn'

In [4]:
# start up BlazingSQL
bc = BlazingContext()

# tag dataset's file path
cwd = os.getcwd()  # path to this notebook
path = cwd + '/international-visitors-london-raw.csv'

BlazingContext ready

In [14]:
# create base table
columns = ['ds', 'quarter', 'market', 'dur_stay', 'mode', 'purpose', 
           'area', 'visits', 'spend', 'nights', 'sample']
bc.create_table('ivlondon', path, names=columns)

In [15]:
# Firstly we need a common output for both dropdowns:
output = widgets.Output()
# Continuing the previous use-case, we will capture the plot in a new output variable:
plot_output = widgets.Output()

In [16]:
ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

In [17]:
# Here are the two dropdowns:
gdf_london = bc.sql('select * from ivlondon')
dropdown_year = widgets.Dropdown(options=unique_sorted_values_plus_ALL(gdf_london.year))  # year
dropdown_purpose = widgets.Dropdown(options=unique_sorted_values_plus_ALL(gdf_london.purpose))  # purpose
# gdf_london = ''
# A useful numeric widget is the BoundedFloatText; 
# we will give it a min, max and initial value, and the incremental step.
bounded_num = widgets.BoundedFloatText(min=0, max=100000, value=5, step=1)

AttributeError: 'DataFrame' object has no attribute 'year'

In [49]:
# In order to colour the dataframe cells, we will define this function:
def colour_ge_value(value, comparison):
    if float(value) >= float(comparison):
        return 'color: red'
    else:
        return 'color: black'

def common_filtering(year, purpose, num):
    # We are clearing the output
    output.clear_output()
    # first we clear the output:
    plot_output.clear_output()
    # then we check if any of the values is ALL
    if (year==ALL) & (purpose==ALL):
        # in which case we consider that the respective filter is removed.
        # common_filter = df_london
        common_filter = bc.sql('SELECT * FROM ivlondon')
    elif (year==ALL):
        # year filter removed
        # common_filter = df_london[df_london.purpose==purpose]
        common_filter = bc.sql(f"SELECT * FROM ivlondon WHERE purpose = '{purpose}'")
    elif (purpose==ALL):
        # purpose filter removed
        # common_filter = df_london[df_london.year==year]
        common_filter = bc.sql(f'SELECT * FROM ivlondon WHERE ds = {year}')
    # When both filters are present
    else:
        # we apply the & operation in both filters
        # common_filter = df_london[(df_london.year==year) & 
        #                          (df_london.purpose==purpose)]
        common_filter = bc.sql(f"SELECT * FROM ivlondon WHERE purpose = '{purpose}' AND ds = {year}")
    with output:
        # apply the styling by calling the colour_ge_value function for the three numeric columns:
        display(common_filter.to_pandas().style.applymap(lambda x: colour_ge_value(x, num),
                                                         subset=['visits','spend', 'nights']))
    with plot_output:
        # and then we call the kdeplot method of seaborn by passing the number of visits:
        sns.kdeplot(common_filter['visits'], shade=True)
        plt.show()
        
# The existing event handlers need to be adjusted 
def dropdown_year_eventhandler(change):
    # to pass the bounded_num.value:
    common_filtering(change.new, dropdown_purpose.value, bounded_num.value)
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new, bounded_num.value)
    
# And finally we will plug-in the event handler of the new widget:
def bounded_num_eventhandler(change):
    common_filtering(dropdown_year.value, dropdown_purpose.value, change.new)

In [50]:
# We bind the handlers to the dropdowns, and that’s it!
dropdown_year.observe(dropdown_year_eventhandler, names='value')
dropdown_purpose.observe(dropdown_purpose_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

In [51]:
# # let's see
# display(dropdown_year)  # filter by year
# display(dropdown_purpose)  # filter by purpose
# display(bounded_num)  # identify visits, spend, nights values > this

In [52]:
# We will define a Layout giving 50px margin between the items.
item_layout = widgets.Layout(margin='0 0 50px 0')

# We will call this layout for each item:
input_widgets = widgets.HBox([dropdown_year, dropdown_purpose, bounded_num], 
                             layout=item_layout)

tab = widgets.Tab([output, plot_output], layout=item_layout)
tab.set_title(0, 'Dataset Exploration')
tab.set_title(1, 'KDE Plot')

In [53]:
# Finally we will stack the input widgets and the tab on top of each other with a VBox.
dashboard = widgets.VBox([input_widgets, tab])
display(dashboard)

VBox(children=(HBox(children=(Dropdown(index=7, options=('ALL', '2002', '2003', '2004', '2005', '2006', '2007'…

- pretty sure it's working without the number filter part
- current roadblock is applymap

In [9]:
# load dataframe
df_london = pd.read_csv(url)

# shrink for easy display purposes
df_london = df_london.sample(250)

In [10]:
df_london.sample(3)

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
27229,2010,Q1,Poland,1-3 nights,Air,VFR,LONDON,9.911947,3.290706,24.674161,11
19739,2007,Q4,Netherlands,1-3 nights,Air,Miscellaneous,LONDON,10.043266,3.921595,15.544731,13
20318,2007,Q4,Egypt,4-7 nights,Air,Business,LONDON,0.741172,2.752710,2.964690,1

- Suppose we would like to filter the dataframe by year. 
- We will first define a dropdown and populate it with the list of unique year values.
- In order to do this, we will create a generic function, 
    - unique_sorted_values_plus_ALL, 
    - which will 
        - find the unique values, 
        - sort them 
        - and then add the ALL item at the start, 
            - so the user could remove the filter.

In [11]:
ALL = 'ALL'

def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

In [20]:
# Now we will initialise the dropdown:
dropdown_year = widgets.Dropdown(options=unique_sorted_values_plus_ALL(df_london.year))
# Dropdown widget observe method takes function that will be invoked when the value of the dropdown changes
dropdown_year

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

- note that the input argument of the handler, change, contains information about the changes that took place 
    - which allows us to access the new value (change.new).

In [18]:
# If the new value is ALL we remove the filter, otherwise we apply it:
def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(df_london)
    else:
        display(df_london[df_london.year == change.new])

In [19]:
# We will then bind the handler to the dropdown:
dropdown_year.observe(dropdown_year_eventhandler, names='value')

3.sub-***SECTION TOGETHER***

In [23]:
# Now we will initialise the dropdown:
dropdown_year = widgets.Dropdown(options=unique_sorted_values_plus_ALL(df_london.year))

# If the new value is ALL we remove the filter, otherwise we apply it:
def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(df_london)
    else:
        display(df_london[df_london.year == change.new])
        
# We will then bind the handler to the dropdown:
dropdown_year.observe(dropdown_year_eventhandler, names='value')

# Dropdown widget observe method takes function that will be invoked when the value of the dropdown changes
dropdown_year

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
10158,2005,Q1,Belgium,1-3 nights,Air,Holiday,LONDON,1.764158,0.546360,4.304558,5
10159,2005,Q1,Belgium,1-3 nights,Air,Business,LONDON,3.554767,1.869742,6.215037,10
10160,2005,Q1,Belgium,1-3 nights,Air,VFR,LONDON,0.677851,0.110490,1.099811,2
10161,2005,Q1,Belgium,1-3 nights,Air,Miscellaneous,LONDON,1.433738,0.070763,1.433738,4
10162,2005,Q1,Belgium,1-3 nights,Sea,VFR,LONDON,3.899300,0.266164,6.762390,2
...,...,...,...,...,...,...,...,...,...,...,...
13647,2005,Q4,Other Africa,8-14 nights,Air,VFR,LONDON,1.181790,0.269720,12.929710,3
13648,2005,Q4,Other Africa,8-14 nights,Air,Miscellaneous,LONDON,0.619166,0.527418,2.012020,1
13649,2005,Q4,Other Africa,15+ nights,Air,Holiday,LONDON,0.307705,0.094186,13.530300,1
13650,2005,Q4,Other Africa,15+ nights,Air,Business,LONDON,0.985602,1.901579,18.386979,3
13651,2005,Q4,Other Africa,15+ nights,Air,VFR,LONDON,3.943192,1.981916,234.548590,10

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
57585,2019,Q1,Belgium,1-3 nights,Air,Holiday,LONDON,0.997789,0.694621,2.993367,2
57586,2019,Q1,Belgium,1-3 nights,Air,Business,LONDON,4.459944,1.022251,18.028843,5
57587,2019,Q1,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.538696,0.035015,0.538696,1
57588,2019,Q1,Belgium,1-3 nights,Sea,Holiday,LONDON,1.604444,0.830520,1.630169,1
57589,2019,Q1,Belgium,1-3 nights,Sea,VFR,LONDON,4.897217,0.899031,11.117463,3
...,...,...,...,...,...,...,...,...,...,...,...
58248,2019,Q1,Other Africa,4-7 nights,Air,VFR,LONDON,3.408199,0.652485,21.555157,3
58249,2019,Q1,Other Africa,4-7 nights,Air,Study,LONDON,0.367328,1.107405,2.572745,1
58250,2019,Q1,Other Africa,8-14 nights,Air,Business,LONDON,0.871365,0.385046,1.743714,1
58251,2019,Q1,Other Africa,8-14 nights,Air,VFR,LONDON,2.230128,0.516292,10.385685,3
58252,2019,Q1,Other Africa,15+ nights,Air,Holiday,LONDON,0.637782,1.285028,27.440094,1

#### 3. Capturing Widget Output
- So far so good, but the output of all the queries is accumulating in this very same cell; 
    - i.e. if we select a new year from the dropdown, 
        - a new dataframe will render underneath the first one, 
        - on the same cell.
- The desired behaviour is to refresh the contents of the dataframe each time.
- The solution to this is to capture the cell output in a special kind of widget, 
    - namely Output, 
    - and then display it in another cell.

In [24]:
# create a new instance of Output
output_year = widgets.Output()

In [25]:
# call the clear_output method within the event handler 
def dropdown_year_eventhandler(change):
    # to clear the previous selection on each iteration, 
    output_year.clear_output()
    with output_year:
        # and capture the output of the dataframe.
        display(df_london[df_london.year == change.new])

In [26]:
# We will then display the output in a new cell:
display(output_year)

Output()

#### 3. ALL TOGETHER
- next 2 cells

In [30]:
# create a new instance of Output
output_year = widgets.Output()

ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

# Now we will initialise the dropdown:
dropdown_year = widgets.Dropdown(options=unique_sorted_values_plus_ALL(df_london.year))

# call the clear_output method within the event handler 
def dropdown_year_eventhandler(change):
    # to clear the previous selection on each iteration, 
    output_year.clear_output()
    with output_year:
        # and capture the output of the dataframe.
        display(df_london[df_london.year == change.new])
        
# We will then bind the handler to the dropdown:
dropdown_year.observe(dropdown_year_eventhandler, names='value')

# Dropdown widget observe method takes function that will be invoked when the value of the dropdown changes
dropdown_year

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

In [31]:
# We will then display the output in a new cell:
display(output_year)

Output()

## ❹ Linking Widget Outputs
- Continuing the previous example, 
    - let’s assume we would also like to filter by purpose too.
- If we go ahead and add another dropdown, we will quickly realise the dataframe only responds to the filter by the dropdown which was recently changed. 
- What we need to do is to link the two together so it can work on both values (i.e. year and purpose).

In [32]:
# Firstly we need a common output for both dropdowns:
output = widgets.Output()

In [33]:
# Here are the two dropdowns:
dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))  # year
dropdown_purpose = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.purpose))  # purpose

- Then we create a new function, 
    - common_filtering, 
    - that will be called by both the event handlers. 
- This function will apply a filter on the dataframe for both year AND purpose:

In [35]:
def common_filtering(year, purpose):
    # We are clearing the output
    output.clear_output()
    # then we check if any of the values is ALL
    if (year == ALL) & (purpose == ALL):
        # in which case we consider that the respective filter is removed.
        common_filter = df_london
    elif (year == ALL):
        # year filter removed
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        # purpose filter removed
        common_filter = df_london[df_london.year == year]
    # When both filters are present
    else:
        # we apply the & operation in both filters
        common_filter = df_london[(df_london.year == year) & 
                                  (df_london.purpose == purpose)]
    with output:
        # Finally we capture the output:
        display(common_filter)

In [36]:
# We amend the event handlers to call the common_filtering function 
def dropdown_year_eventhandler(change):
    # and pass the change.new value as well as the current value of the other dropdown:
    common_filtering(change.new, dropdown_purpose.value)
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new)

In [37]:
# We bind the handlers to the dropdowns, and that’s it!
dropdown_year.observe(dropdown_year_eventhandler, names='value')
dropdown_purpose.observe(dropdown_purpose_eventhandler, names='value')

#### 4. ALL TOGETHER

In [47]:
# Firstly we need a common output for both dropdowns:
output = widgets.Output()

# Here are the two dropdowns:
dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))  # year
dropdown_purpose = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.purpose))  # purpose

def common_filtering(year, purpose):
    # We are clearing the output
    output.clear_output()
    # then we check if any of the values is ALL
    if (year == ALL) & (purpose == ALL):
        # in which case we consider that the respective filter is removed.
        common_filter = df_london
    elif (year == ALL):
        # year filter removed
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        # purpose filter removed
        common_filter = df_london[df_london.year == year]
    # When both filters are present
    else:
        # we apply the & operation in both filters
        common_filter = df_london[(df_london.year == year) & 
                                  (df_london.purpose == purpose)]
    with output:
        # Finally we capture the output:
        display(common_filter)
        
# We amend the event handlers to call the common_filtering function 
def dropdown_year_eventhandler(change):
    # and pass the change.new value as well as the current value of the other dropdown:
    common_filtering(change.new, dropdown_purpose.value)
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new)
    
# We bind the handlers to the dropdowns, and that’s it!
dropdown_year.observe(dropdown_year_eventhandler, names='value')
dropdown_purpose.observe(dropdown_purpose_eventhandler, names='value')

# let's see
display(dropdown_year)
display(dropdown_purpose)

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

Dropdown(options=('ALL', 'Business', 'Holiday', 'Miscellaneous', 'Study', 'VFR'), value='ALL')

In [48]:
display(output)

Output()

## ❺ Creating a Dashboard
- We have put the basis for our dashboard so far by filtering and displaying the data of the London dataset. 
- We will carry on by colouring the numeric values based on a user selected value.

In [49]:
# A useful numeric widget is the BoundedFloatText; 
# we will give it a min, max and initial value, and the incremental step.
bounded_num = widgets.BoundedFloatText(min=0, max=100000, value=5, step=1)

In [50]:
# In order to colour the dataframe cells, we will define this function:
def colour_ge_value(value, comparison):
    if value >= comparison:
        return 'color: red'
    else:
        return 'color: black'

- Now we will minimally amend the common_filtering function to:

In [51]:
# add new num input parameter:
def common_filtering(year, purpose, num):
    with output:
        # apply the styling by calling the colour_ge_value function for the three numeric columns:
        display(common_filter.style.applymap(lambda x: colour_ge_value(x, num), 
                                             subset=['visits','spend', 'nights']))

In [52]:
# The existing event handlers need to be adjusted 
def dropdown_year_eventhandler(change):
    # to pass the bounded_num.value:
    common_filtering(change.new, dropdown_purpose.value, bounded_num.value)
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new, bounded_num.value)

In [53]:
# And finally we will plug-in the event handler of the new widget:
def bounded_num_eventhandler(change):
    common_filtering(dropdown_year.value, dropdown_purpose.value, change.new)
bounded_num.observe(bounded_num_eventhandler, names='value')

5.pre-plotting-***ALL TOGETHER***

In [56]:
# Firstly we need a common output for both dropdowns:
output = widgets.Output()

# Here are the two dropdowns:
dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))  # year
dropdown_purpose = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.purpose))  # purpose
# A useful numeric widget is the BoundedFloatText; 
# we will give it a min, max and initial value, and the incremental step.
bounded_num = widgets.BoundedFloatText(min=0, max=100000, value=5, step=1)

def common_filtering(year, purpose, num):
    # We are clearing the output
    output.clear_output()
    # then we check if any of the values is ALL
    if (year == ALL) & (purpose == ALL):
        # in which case we consider that the respective filter is removed.
        common_filter = df_london
    elif (year == ALL):
        # year filter removed
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        # purpose filter removed
        common_filter = df_london[df_london.year == year]
    # When both filters are present
    else:
        # we apply the & operation in both filters
        common_filter = df_london[(df_london.year == year) & 
                                  (df_london.purpose == purpose)]
    with output:
        # apply the styling by calling the colour_ge_value function for the three numeric columns:
        display(common_filter.style.applymap(lambda x: colour_ge_value(x, num), 
                                             subset=['visits','spend', 'nights']))
        
# The existing event handlers need to be adjusted 
def dropdown_year_eventhandler(change):
    # to pass the bounded_num.value:
    common_filtering(change.new, dropdown_purpose.value, bounded_num.value)
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new, bounded_num.value)
    
# And finally we will plug-in the event handler of the new widget:
def bounded_num_eventhandler(change):
    common_filtering(dropdown_year.value, dropdown_purpose.value, change.new)
    
# We bind the handlers to the dropdowns, and that’s it!
dropdown_year.observe(dropdown_year_eventhandler, names='value')
dropdown_purpose.observe(dropdown_purpose_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

# let's see
display(dropdown_year)  # filter by year
display(dropdown_purpose)  # filter by purpose
display(bounded_num)  # identify visits, spend, nights values > this

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

Dropdown(options=('ALL', 'Business', 'Holiday', 'Miscellaneous', 'Study', 'VFR'), value='ALL')

BoundedFloatText(value=5.0, max=100000.0, step=1.0)

In [57]:
display(output)

Output()

### 5. Plotting
- Next we will be adding a new graph to plot a basic univariate density of the number of visits (KDE → Kernel Density Estimation).

In [59]:
# We will use seaborn, so let’s import the libraries:
import seaborn as sns
import matplotlib.pyplot as plt

In [60]:
# Continuing the previous use-case, we will capture the plot in a new output variable:
plot_output = widgets.Output()

- We will now amend the common_filtering function to plot the new diagram:

In [61]:
# first we clear the output:
plot_output.clear_output()

In [62]:
# and then we call the kdeplot method of seaborn by passing the number of visits:
with plot_output:
    sns.kdeplot(common_filter['visits'], shade=True)
    plt.show()

In [63]:
# Lastly, the only thing we need to do is to display the outputs in a new cell:
display(output)
display(plot_output)

Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<pandas.io.formats.style.Styler at 0x1…

Output(outputs=({'output_type': 'error', 'ename': 'NameError', 'evalue': "name 'common_filter' is not defined"…

#### 5. ALL TOGETHER

In [64]:
# Firstly we need a common output for both dropdowns:
output = widgets.Output()
# Continuing the previous use-case, we will capture the plot in a new output variable:
plot_output = widgets.Output()

# Here are the two dropdowns:
dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))  # year
dropdown_purpose = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.purpose))  # purpose
# A useful numeric widget is the BoundedFloatText; 
# we will give it a min, max and initial value, and the incremental step.
bounded_num = widgets.BoundedFloatText(min=0, max=100000, value=5, step=1)

def common_filtering(year, purpose, num):
    # We are clearing the output
    output.clear_output()
    # first we clear the output:
    plot_output.clear_output()
    # then we check if any of the values is ALL
    if (year == ALL) & (purpose == ALL):
        # in which case we consider that the respective filter is removed.
        common_filter = df_london
    elif (year == ALL):
        # year filter removed
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        # purpose filter removed
        common_filter = df_london[df_london.year == year]
    # When both filters are present
    else:
        # we apply the & operation in both filters
        common_filter = df_london[(df_london.year == year) & 
                                  (df_london.purpose == purpose)]
    with output:
        # apply the styling by calling the colour_ge_value function for the three numeric columns:
        display(common_filter.style.applymap(lambda x: colour_ge_value(x, num), 
                                             subset=['visits','spend', 'nights']))
    with plot_output:
        # and then we call the kdeplot method of seaborn by passing the number of visits:
        sns.kdeplot(common_filter['visits'], shade=True)
        plt.show()
        
# The existing event handlers need to be adjusted 
def dropdown_year_eventhandler(change):
    # to pass the bounded_num.value:
    common_filtering(change.new, dropdown_purpose.value, bounded_num.value)
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new, bounded_num.value)
    
# And finally we will plug-in the event handler of the new widget:
def bounded_num_eventhandler(change):
    common_filtering(dropdown_year.value, dropdown_purpose.value, change.new)
    
# We bind the handlers to the dropdowns, and that’s it!
dropdown_year.observe(dropdown_year_eventhandler, names='value')
dropdown_purpose.observe(dropdown_purpose_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

# let's see
display(dropdown_year)  # filter by year
display(dropdown_purpose)  # filter by purpose
display(bounded_num)  # identify visits, spend, nights values > this

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

Dropdown(options=('ALL', 'Business', 'Holiday', 'Miscellaneous', 'Study', 'VFR'), value='ALL')

BoundedFloatText(value=5.0, max=100000.0, step=1.0)

In [71]:
# Lastly, the only thing we need to do is to display the outputs in a new cell:
display(output)

Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<pandas.io.formats.style.Styler at 0x1…

In [72]:
display(plot_output)

Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<Figure size 432x288 with 1 Axes>', 'i…

## ❻ Dashboard Layout
- Up until now our user interface is functional but is taking up a lot of real estate.
- We will first arrange the input widgets horizontally.

In [74]:
# The HBox will add widgets to it one at a time from left-to-right:
input_widgets = widgets.HBox([dropdown_year, dropdown_purpose, bounded_num])
display(input_widgets)

HBox(children=(Dropdown(index=4, options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2…

In [75]:
# Next we will create a container for the output. Tab is great for this. 
# The 1st tab will host the dataframe and the 2nd one the graph.
tab = widgets.Tab([output, plot_output])
tab.set_title(0, 'Dataset Exploration')
tab.set_title(1, 'KDE Plot')
display(tab)

Tab(children=(Output(outputs=({'output_type': 'display_data', 'data': {'text/plain': '<pandas.io.formats.style…

In [76]:
# Finally we will stack the input widgets and the tab on top of each other with a VBox.
dashboard = widgets.VBox([input_widgets, tab])
display(dashboard)

VBox(children=(HBox(children=(Dropdown(index=4, options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009…

- It feels a bit ‘jammed’, so as a last step, we will polish our dashboard by adding some space.

In [80]:
# We will define a Layout giving 50px margin between the items.
item_layout = widgets.Layout(margin='0 0 50px 0')

In [81]:
# We will call this layout for each item:
input_widgets = widgets.HBox([dropdown_year, dropdown_purpose, bounded_num], 
                             layout=item_layout)

tab = widgets.Tab([output, plot_output], layout=item_layout)
tab.set_title(0, 'Dataset Exploration')
tab.set_title(1, 'KDE Plot')

In [82]:
# Finally we will stack the input widgets and the tab on top of each other with a VBox.
dashboard = widgets.VBox([input_widgets, tab])
display(dashboard)

VBox(children=(HBox(children=(Dropdown(index=17, options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 200…